
body{
    font-family: "Tiny5",monospace;
    margin:0px;
    padding:0px;
    background-size: 25px 25px;
    background-image:
      linear-gradient(to right, rgb(197, 192, 173) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(197, 192, 173) 1px, transparent 1px);
    background-color: rgb(255, 254, 246);
}


header{
    background-color:rgb(52, 31, 136);
    padding:30px;
    padding-top: 20px;
    text-align: center;
    color:white;
    text-shadow: 3px 3px black;
    
}
main{
    display:flex;
    justify-content: center;
    gap:1.5rem;
    padding:20px
}
.container{
    border-radius: 20px;
    border-style: dashed;
    border-color: rgba(20, 16, 16, 0.2);
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    flex-flow: column nowrap;
    text-align:center;

}

.container-header{
    background-color:rgb(52, 31, 136);
    padding: 5px;
    text-align: center;
    font-size:1.2rem;
    color:white;
    text-shadow: 3px 3px black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.container-body{
    padding:2rem 3rem 2rem 3rem;
    display:flex;
    flex-flow:column nowrap;
    gap:1.2rem;
    
}

.drop-down:hover{
    text-decoration: underline;
}

.palette-container{
    display:flex;
    justify-content: center;
    
}

button{
    font-family: "Tiny5",monospace;
    font-size:1.1rem;
    border-radius: 5px;
    background-color: white;
    border-style:solid;
    border-color: rgba(20, 16, 16, 0.4);
    transition: all 0.2s ease-in;
}

button:hover{
    font-size:1.2rem;
    text-decoration: underline;
}

.palette{
    font-family:monospace;
    font-size: 1.1rem;
    font-weight:900;


    display:flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    border-style:solid;
    border-color: rgba(20, 16, 16, 0.4);

}

.color{
    padding: 70px 3px 3px 2px;
    background:rgb(52, 31, 136);
}

.color p{
    color:white;
    -webkit-text-stroke: 1px black;
}

.fade-in{
    opacity:0;
    animation:fadeIn 0.4s ease-in;
}

@keyframes fadeIn{
    to{opacity: 1;}
}